ci:
  autofix_prs: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: check-yaml
    - id: check-toml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    - id: black

  - repo: https://github.com/pycqa/flake8
    rev: '7.0.0'
    hooks:
    - id: flake8

  - repo: https://github.com/strawberry-py/strawberry-tools
    rev: v1.10.1
    hooks:
    - id: popie
      args: [--detached]
